--任務三
drop database if exists MySchool
go

create database MySchool
go

use MySchool
go

drop table if exists Department
create table Department(
	DeptID nchar(1) not null primary key,
	DeptName nvarchar(30) not null unique,
)

insert into Department values 
	('A', '資訊工程系'),
	('B', '企業管理系'),
	('C', '自然科學系'),
	('D', '歷史系');

drop table if exists Student
create table Student(
	StuID nchar(10) not null primary key,
	StuName nvarchar(20) not null,
	Tel nvarchar(20) not null,
	[Address] nvarchar(100) null,
	Birthday datetime null,
	DeptID nchar(1) not null,
	foreign key(DeptID) references Department(DeptID)
)

drop table if exists Course
create table Course(
	CourseID nchar(5) not null primary key,
	CourseName nvarchar(30) not null,
	Credit int not null default 0,
	Hour int not null default 2,
	DeptID nchar(1) not null,
	foreign key(DeptID) references Department(DeptID)
)

drop table if exists SelectionDetail
create table SelectionDetail(
	StuID nchar(10) not null,
	CourseID nchar(5) not null,
	[Year] int not null default Year(Getdate()),
	Term tinyint not null,
	Score int not null default 0,
	primary key (StuID, CourseID), --複合主鍵
	foreign key (StuID) references Student(StuID),
	foreign key (CourseID) references Course(CourseID)
)

--任務四：依據題目要求，撰寫預存程序(Stored Procedure)
--請利用任務三所建立的【MySchool】資料庫，建立一個名為「InsertDeptmentData」的預存程序，新增科系資料時必須呼叫執行此預存程序進行資料新增。
--1.	預存程序內需檢查科系代碼(DeptID)及科系名稱(DeptName)是否已在資料庫中。
--2.	若欲新增的資料值檢查到已被使用，則輸出對應的錯誤訊息且不進行Insert動作。
--3.	若欲新增的資料值皆未被使用，則進行Insert動作將資料寫入資料庫。
create or alter procedure InsertDepartmentData
	@DeptID nchar(1), @DeptName nvarchar(30)
as
begin
	print 'Check DeptID : '+@DeptID+', DeptName : '+@DeptName

	--檢查科系代碼(DeptID)是否已在資料庫中
	declare @DeptIDExists nchar(1)
	select @DeptIDExists = count(DeptID) from Department where DeptID = @DeptID

	if @DeptIDExists > 0
	begin
		print '科系代碼已存在，請使用其他代碼。'
		return
	end
	print 'DeptID OK'
	
	--檢查科系名稱(DeptName)是否已在資料庫中
	declare @DeptNameExists nvarchar(30)
	select @DeptNameExists = DeptName from Department where DeptName = @DeptName

	if @DeptNameExists is not null
	begin
		print '科系名稱已存在，請使用其他名稱。'
		return
	end
	print 'DeptName OK'

	insert into Department values (@DeptID, @DeptName)
	print '科系新增成功。'
end

exec  InsertDepartmentData 'A', '資訊工程系'

--任務五：依據題目要求，撰寫自訂函數(Function)
--請利用任務三所建立的【MySchool】資料庫，建立一個名為「getCourseID」的自訂函數，其功能為新增課程資料時可呼叫此函數自動取得一個新的課程編號。
--CourseID的編碼規則為英文字母C加上開課科系代碼再加上3碼流水號。
--(例如科系代碼為G開的第123門課程，CourseID為CG123，科系代碼為B開的第1門課程，CourseID為CB001)。

--主Function
create or alter function getCourseID(@DeptID nchar(1))
	returns nchar(5)
as
begin
	--檢查有無該科系
	declare @Dept int;
	select top 1 @Dept = count(DeptID) from Department where DeptID = @DeptID;
	--print (@Dept)
	if @Dept = 0
		--print ('無該科系');
		return '00000';

	--declare @DeptID nchar(5)
	--set @DeptID = 'A'

	--紀錄表內該科系的課程數
	declare @CountDept int;
	select @CountDept = count(*) from Course where DeptID = @DeptID;
	--print @CountDept
	--print (CAST(@CountDept + 1 AS nchar(3)))

	declare @NewCourseID nvarchar(5);--先宣告nvarchar，不然@DeptID因為nchar的固定長度會把後面全部都補上空白
	set @NewCourseID = 'C' + rtrim(@DeptID) + RIGHT('000' + CAST(@CountDept + 1 AS nvarchar), 3);--使用 rtrim() 去除 DeptID 後面的空白
	--print @NewCourseID

	return @NewCourseID
end

--主執行的SP，負責插入資料，因為Function內不能執行Insert也不能呼叫SP
create or alter proc InsertNewCourse
	@CourseName nvarchar(30), @Credit int, @Hour int, @DeptID nchar(1)
as
begin
	--取課程ID
	declare @NewCourseID nchar(5);
	select @NewCourseID = (select dbo.getCourseID(@DeptID));
	--print @NewCourseID;
	if @NewCourseID = '00000'
	begin
		print '無該科系'
		return
	end

	--檢查是否已有該課程
	--declare @ExistsCourse nvarchar(30) = null
	--select top 1@ExistsCourse = CourseName from Course where CourseName like '%' + @CourseName + '%';
	--if @ExistsCourse is not null
	--begin
	--	print '已有該課程'
	--	return
	--end

	insert into Course values (@NewCourseID, @CourseName, @Credit, @Hour, @DeptID);
	print '加入課程成功'
end

exec InsertNewCourse 'ACA大氣科學系', 0, 0, 'D';