CREATE DATABASE [GoodStore]
GO

USE [GoodStore]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CateID] [nchar](2) NOT NULL,
	[CateName] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberID] [nchar](6) NOT NULL,
	[Name] [nvarchar](27) NOT NULL,
	[Gender] [bit] NOT NULL,
	[Point] [int] NOT NULL,
	[Account] [nvarchar](12) NOT NULL,
	[Password] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK__Member__0CF04B38A211F86A] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [nchar](12) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[MemberID] [nchar](6) NOT NULL,
	[ContactName] [nvarchar](27) NOT NULL,
	[ContactAddress] [nvarchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderID] [nchar](12) NOT NULL,
	[ProductID] [nchar](5) NOT NULL,
	[Qty] [int] NOT NULL,
	[Price] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [nchar](5) NOT NULL,
	[ProductName] [nvarchar](40) NOT NULL,
	[Price] [money] NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Picture] [nvarchar](12) NOT NULL,
	[CateID] [nchar](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([CateID], [CateName]) VALUES (N'A1', N'一般飲料')
INSERT [dbo].[Category] ([CateID], [CateName]) VALUES (N'A2', N'咖啡')
INSERT [dbo].[Category] ([CateID], [CateName]) VALUES (N'A3', N'啤酒')
GO
INSERT [dbo].[Member] ([MemberID], [Name], [Gender], [Point], [Account], [Password]) VALUES (N'M00001', N'王小明', 1, 0, N'abc', N'D04C2178E49C9673F73919B659A6EE83E06F3B95FE49E6FD225AED2E56C69990')
INSERT [dbo].[Member] ([MemberID], [Name], [Gender], [Point], [Account], [Password]) VALUES (N'M00002', N'陳小美', 0, 0, N'abc123', N'E3B0C44298FC1C149AFBF4C8996FB92427AE41E4649B934CA495991B7852B855')
GO
INSERT [dbo].[Product] ([ProductID], [ProductName], [Price], [Description], [Picture], [CateID]) VALUES (N'A2001', N'濃縮咖啡', 99.0000, N'高品質濃縮咖啡，適合用來製作各種咖啡飲品。', N'A2001.jpg', N'A2')
INSERT [dbo].[Product] ([ProductID], [ProductName], [Price], [Description], [Picture], [CateID]) VALUES (N'A2002', N'即食咖啡', 89.0000, N'快速沖泡即飲咖啡，隨時享受濃郁的咖啡香氣。', N'A2002.jpg', N'A2')
INSERT [dbo].[Product] ([ProductID], [ProductName], [Price], [Description], [Picture], [CateID]) VALUES (N'A3001', N'精釀啤酒', 129.0000, N'經典手工釀造啤酒，口感醇厚，適合與朋友聚會時享用。', N'A3001.jpg', N'A3')
GO
SET ANSI_PADDING ON
GO

ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [UQ__Member__B0C3AC4646969FD1] UNIQUE NONCLUSTERED 
(
	[Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [DF__Member__Point__403A8C7D]  DEFAULT ((0)) FOR [Point]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[OrderDetail] ADD  DEFAULT ((1)) FOR [Qty]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Order__MemberID__4316F928] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__MemberID__4316F928]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CateID])
REFERENCES [dbo].[Category] ([CateID])
GO
